.wrap {
    display: flex;
    position: relative;
}

.buttonPanel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.panelWrap {
    /* flex: 1; */
    margin-top: 1;
    width: 30rem;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.viewWrap {
    flex: 5;
    background-color: rgb(240, 242, 245);
}
