.input {
    all: inherit;
    width: 100%;

    resize: none;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: inherit !important;
}

.draft * {
    text-align: inherit !important;
}

.input::placeholder {
    all: inherit;
    opacity: 0.5;
}
